.wor-sheet-header
    align-items: center
    display: flex
    justify-content: flex-start

    img
        border: none
        flex: 0 0 64px
        height: 64px

    input
        flex: 1
        font-size: 2em
        height: auto
        margin: 0 11px

.wor-section
    padding: 4px

.wor-section-header
    align-items: baseline
    border-bottom: 2px groove #eeede0
    display: flex
    font-size: 1em
    margin: 0 0 0.25em
    padding: 0

    span
        color: #23221d
        flex: 1
        font: small-caps 1.8em "Modesto Condensed"

.wor .form-group
    label
        color: #4b4a44
        flex: 1
        font-weight: bold
        white-space: nowrap

    input[data-dtype=Number]
        flex: 1
